body
{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
h1
{
    text-align: center;
    color: white;
}
.about
{
    text-align: left;
    color: white;
}
.skills
{
    text-align: left;
    color: white;
}
.projects
{
    background-color: black;
    color: white;
    text-align: left;
}
.contact
{
    text-align: left;
    color: white;
}

.about img
{
    width: 150px;
    height: 200px;
    border-radius: 25%;
    border: 2px solid white;
}

.projects img
{
    width: 150px;
    height: 200px;
    border-radius: 25%;
    border: 2px solid white;
}

h2 
{
    color: white;
    text-align: left;
}