body
{
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
}
h1
{
    text-align: center;
    color: forestgreen;
}
.about
{
    text-align: left;
    color: purple;
}
.skills
{
    text-align: left;
    color: plum;
}
.projects
{
    background-color: orange;
    color: blue;
    text-align: left;
}
.contact
{
    text-align: left;
    color: aqua;
}

.about img
{
    width: 150px;
    height: 200px;
    border-radius: 25%;
    border: 2px solid purple;
}